.place__image-container {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
    .place__image-container {
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {
    .place__image-container {
        margin-top: 32px;
    }
}