.place__image-container {
    margin-top: 48px;
    display: flex;
}

@media screen and (max-width: 640px) and (min-width: 320px) {
    .place__image-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 425px) {
    .place__image-container {
        margin-top: 32px;
    }
}