.intro__subtitle {
    width: fit-content;
    height: fit-content;
    margin: 45px 0 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
}