.footer__items {
    display: flex;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 425px) and (max-width: 550px) {
    .footer__items {
        display: block;
    }
}

@media screen and (max-width: 640px) {
    .footer__items {
        display: inline;
    }
}