.place__website_url {
    max-width: 100%;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    text-decoration: underline;
    transition: opacity 0.4s;
    margin: 0;
}

.place__website_url:hover {
    opacity: 0.8;
}