.place__paragraph {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 36px 40px;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        margin: 0 0 28px 24px;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        margin: 24px auto 0;
        font-size: 1rem;
    }
}