.place__website_url-heading {
    max-width: 100%;
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0.2em;
    color: #aaa;
    text-transform: uppercase;
    margin: 23px 0 0;
}

@media screen and (max-width:768px) {
    .place__website_url-heading {
        margin-bottom: 12px;
    }
}