.cover__image {
    position: absolute;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
    z-index: -1;
}

.cover__image:hover {
    opacity: .4;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .cover__image {
        min-width: 1024px;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .cover__image {
        min-width: 768px;
    }
}

@media screen and (max-width: 425px) {
    .cover__image {
        min-width: 425px;
    }
}

@media screen and (max-width: 320px) {
    .cover__image {
        min-width: 320px;
    }
}