@import url('./_url-heading/place__website_url-heading.css');
@import url('./_url/place__website_url.css');
.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 640px) and (min-width: 320px) {
    .place__website {
        display: none;
    }
}