@import url('./_url-heading/place__website_url-heading.css');
@import url('./_url/place__website_url.css');
.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 40px;
}

@media screen and (max-width: 1024px) {
    .place__website {
        margin: 0 0 28px 24px;
    }
}