.intro__title {
    max-width: 675px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #FFFFFF;
    word-wrap: break-word;
    margin: 64px 0 0 100px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro__title {
        margin: 44px 0 0 48px;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .intro__title {
        margin: 88px 0 0;
    }
}

@media screen and (max-width: 425px) {
    .intro__title {
        max-width: 275px;
        font-size: 32px;
        line-height: 1.09;
        margin: 64px auto 0;
    }
}