.intro__title {
    width: fit-content;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #FFFFFF;
    word-break: break-all;
    margin: 92px 0 0 100px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .intro__title {
        padding: 0;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) and (min-width: 425px) {
    .intro__title {
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 425px) {
    .intro__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 1.09;
        margin: 64px auto 0;
    }
}